/* autoprefixer grid: autoplace */

.app,
.tabs {
  position: relative;
  width: 100%;
}

.tab-bar {
  margin-bottom: 1em;
}

.app-fixed {
  height: 100vh;
}

.panel-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  height: 100%;
}

.frame {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: opacity 1s;
  display: block;
  border: 0;
  width: 100%;
}

.frame.is-selected {
  opacity: 1;
}

.frame-fixed {
  height: 100%;
}
